;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Mar  8 17:38:35 2004
;; Emacs version 20.7.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("prepareOctave" "prepareMa" "Matla" "engO" "eng." "engO" "open" "prepareM" "matlab" "engine" "JMa" "JMatLink" "JMatlink" "Mat" "JMatLink" "import "))
(setq regexp-search-ring nil)
(setq register-alist (list '(111 . "  /**\n   * Returns a similarity estimate between two instances without using the weights.\n   * @param instance1 First instance.\n   * @param instance2 Second instance.\n   * @exception Exception if similarity could not be estimated.\n   */\n  public double similarityNonWeighted(Instance instance1, Instance instance2) throws Exception {\n    switch (m_conversionType) {\n    case CONVERSION_LAPLACIAN: \n      return 1 / (1 + distanceNonWeighted(instance1, instance2));\n    case CONVERSION_UNIT:\n      return 2 * (1 - distanceNonWeighted(instance1, instance2));\n    case CONVERSION_EXPONENTIAL:\n      return Math.exp(-distanceNonWeighted(instance1, instance2));\n    default:\n      throw new Exception (\"Unknown distance to similarity conversion method\");\n    }\n  }\n") '(88 . "") (desktop-list* 47 (let ((mk (make-marker))) (add-hook 'desktop-delay-hook (list 'lambda '() (list 'set-marker mk nil (get-buffer "*desktop*")))) mk))))

;; Buffer section:
(desktop-create-buffer 205
  "/u/ml/software/metric-learning/rca/RCA.m"
  "RCA.m"
  'objc-mode
  '(nil)
  123
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/u/ml/software/metric-learning/xing/iter_projection_new2.m"
  "iter_projection_new2.m"
  'objc-mode
  '(nil)
  1900
  '(1918 t)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/u/ml/software/metric-learning/xing/opt.m"
  "opt.m"
  'objc-mode
  '(nil)
  1040
  '(929 t)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/u/sugato/weka/gui/experiment/RCA.m"
  "RCA.m<2>"
  'objc-mode
  '(nil)
  384
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/u/sugato/weka/gui/GenericObjectEditor.props"
  "GenericObjectEditor.props"
  'fundamental-mode
  '(nil)
  12438
  '(12398 t)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/u/sugato/weka/gui/experiment/Experimenter.java"
  "Experimenter.java"
  'jde-mode
  '(nil)
  334
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/u/sugato/weka/experiment/SemiSupSplitEvaluator.java"
  "SemiSupSplitEvaluator.java"
  'jde-mode
  '(nil)
  1475
  '(1 t)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/u/sugato/weka/experiment/SemiSupClustererSplitEvaluator.java"
  "SemiSupClustererSplitEvaluator.java"
  'jde-mode
  '(nil)
  1480
  '(1 t)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/u/sugato/weka/experiment/SemiSupLearningCurveCVResultProducer.java"
  "SemiSupLearningCurveCVResultProducer.java"
  'jde-mode
  '(nil)
  2298
  '(1 t)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/u/sugato/weka/clusterers/MPCKMeans.java"
  "MPCKMeans.java"
  'jde-mode
  '(nil)
  182815
  '(10882 t)
  nil
  nil
  '((case-fold-search . t)))

(desktop-create-buffer 205
  "/u/sugato/weka/core/metrics/BarHillelMetricMatlab.java"
  "BarHillelMetricMatlab.java"
  'jde-mode
  '(nil)
  1
  '(14377 t)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/u/sugato/weka/core/metrics/XingMetric.java"
  "XingMetric.java"
  'jde-mode
  '(nil)
  15835
  '(15835 t)
  nil
  nil
  '((overwrite-mode)))

(desktop-create-buffer 205
  "/u/ml/software/jmatlink/JMatLink.java"
  "JMatLink.java"
  'jde-mode
  '(nil)
  5165
  '(3846 t)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/u/sugato/weka/core/metrics/BarHillelMetric.java.~1.2~"
  "BarHillelMetric.java.~1.2~"
  'jde-mode
  '(nil)
  13307
  '(1 t)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/u/sugato/weka/core/metrics/BarHillelMetric.java.~1.3~"
  "BarHillelMetric.java.~1.3~"
  'jde-mode
  '(nil)
  9736
  '(13265 t)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/u/sugato/weka/core/metrics/BarHillelMetric.java.~1.4~"
  "BarHillelMetric.java.~1.4~"
  'jde-mode
  '(nil)
  13293
  '(10567 t)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/u/sugato/weka/core/metrics/BarHillelMetric.java"
  "BarHillelMetric.java"
  'jde-mode
  '(nil)
  13333
  '(1 t)
  nil
  nil
  nil)

