;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Feb  8 19:06:26 2007
;; Emacs version 21.4 (patch 20) "Double Solitaire" XEmacs Lucid

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("m_MLweight" "penaltyForInstance" "assignInstanceToCons" "assign" "assignClus" "uruk-hai-7" "Final MI" "elementAt" "m_Instances" "elementAt" "instance(" "Run:1" "Objective function:" "constraints" "Objective function:" "WHO"))
(setq regexp-search-ring nil)
(setq register-alist (list '(88 . "") (desktop-list* 47 (let ((mk (make-marker))) (add-hook 'desktop-delay-hook (list 'lambda '() (list 'set-marker mk nil (get-buffer "*desktop*")))) mk))))

;; Buffer section:
(desktop-create-buffer 205
  "/u/sugato/w/weka-latest/weka/clusterers/assigners/SimpleAssigner.java"
  "SimpleAssigner.java"
  'jde-mode
  '(column-number-mode font-lock-mode semantic-minor-modes-status semantic-auto-parse-mode jde-jdb-minor-mode jde-plugin-minor-mode senator-minor-mode)
  2857
  '(nil nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/u/sugato/w/weka-latest/weka/clusterers/MPCKMeans.java"
  "MPCKMeans.java"
  'jde-mode
  '(column-number-mode font-lock-mode semantic-minor-modes-status semantic-auto-parse-mode jde-jdb-minor-mode jde-plugin-minor-mode senator-minor-mode)
  35375
  '(1 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

